body {
    font-family: 'Inter', sans-serif; /* More modern font */
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Light gray background, softer than pure white */
    color: #333; /* Dark gray, for better readability */
    line-height: 1.7; /* Improved line height for readability */
}

.container {
    max-width: 960px; /* Slightly wider for a more spacious feel */
    margin: 40px auto; /* Increased margin for better spacing */
    padding: 30px; /* Increased padding */
    background-color: #fff; /* Still white, but the overall tone is warmer */
    border-radius: 10px; /* Slightly more rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow */
}

.profile {
    display: flex;
    align-items: center; /* Vertically center items */
    margin-bottom: 30px; /* Increased margin */
}

.profile img {
    width: 150px; /* Slightly larger image */
    height: 150px;
    border-radius: 50%;
    margin-right: 30px; /* Increased margin */
    border: 3px solid #e0e0e0; /* Subtle border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.profile .info h1 {
    font-size: 28px; /* Slightly larger heading */
    margin-bottom: 10px;
    color: #4a5568; /* Darker heading color */
}

.profile .info p {
    font-size: 18px; /* Increased font size */
    margin-bottom: 15px; /* Increased margin */
    color: #616e7c; /* Slightly darker body text */
}

.profile .info a {
    color: #0077cc; /* Standard blue for links */
    text-decoration: none;
}

.profile .info a:hover {
    text-decoration: underline;
    color: #0056b3;
}


hr {
    border: 1px solid #e0e0e0; /* Lighter border color */
    margin: 40px 0; /* Increased margin */
}

.papers {
    margin-bottom: 30px; /* Increased margin */
}

.papers h2 {
    font-size: 24px; /* Slightly larger heading */
    margin-bottom: 20px; /* Increased margin */
    color: #4a5568;
}

.papers ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.papers li {
    margin-bottom: 25px; /* Increased margin */
    font-size: 18px;
}

.papers li a {
    color: #0077cc;
    text-decoration: none;
     font-weight: bold; /* Make the certification titles bold */
}

.papers li a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.papers li span.Organization{
    color: #718096;
    font-size: 16px;
    display: block;
    margin-top: 5px;
    font-style: italic;
}

footer {
    text-align: center;
    padding: 25px; /* Increased padding */
    background-color: #f7fafc; /* Very light gray footer */
    color: #718096; /* Muted footer text color */
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
    border-radius: 8px;
}
.cv-link{
    color: #0077cc; /* Standard blue for links */
    text-decoration: none;
    font-weight: bold;
}
.cv-link:hover {
    text-decoration: underline;
    color: #0056b3;
}
</style>
